body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
.employee-list-top-action-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.employee-list-top-action-button select {
  display: flex;
  flex-direction: row;
  height: 35px;
}
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 5px rgba(56, 58, 58, 0.151);
  background: #ffffff;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  background: #eaf9ff;
}
.table-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.status-badge {
  text-align: center;
  padding: 1px;

  width: 110px;
  background-origin: padding-box;

  border-radius: 20px;
  font-weight: normal;
}
.table-cell {
  width: 13%;
}
.action-button-group {
  display: flex;
  gap: 20px;
}
.action-button-group button {
  border: none;
  background: transparent;
}
.create-employee-button {
  display: flex;
}
.create-employee-button {
  display: flex;
  background: #eaf9ff;
  border-radius: 20px;
  border: none;
  height: fit-content;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  color: rgb(36, 35, 35);
}
.plus-icon {
  background: #03aeee;
  width: 35px;
  height: 35px;
  align-items: center;
  display: flex;
  line-height: 30px;
  border-radius: 100%;
  color: white;
  text-align: center;
  justify-content: center;
}
