.select-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
  width: 32%;
}
.select-component label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-component input,
select {
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.192);
  background-color: var(--grey);
  padding: 10px;
  border-radius: 10px;
  color: black;
  width: 100%;
}
