body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
.employee-list-top-action-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.employee-list-top-action-button select {
  display: flex;
  flex-direction: row;
  height: 35px;
}
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  transition-duration: 300ms;
  box-shadow: 5px 5px 5px rgba(56, 58, 58, 0.151);
  background: #ffffff;
}
.table-row:hover {
  background: #55545421;
}
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  background: #eaf9ff;
}
.table-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.status-badge {
  text-align: center;
  padding: 5px;

  width: 110px;
  background-origin: padding-box;

  border-radius: 20px;
  font-weight: bolder;
}
.filter-by-select {
  flex-direction: row;
  width: fit-content;
  align-items: center;
}
.filter-by-select label {
  width: 100%;
}
.filter-by-select select {
  border: none;
  background: #eaf9ff;
  border-radius: 20px;
}
.filter-by-select option {
  border: none;
  background: white;
  border-radius: 20px;
}
.table-cell {
  width: 13%;
}
.action-button-group {
  display: flex;
  gap: 20px;
}
.action-button-group button {
  border: none;
  padding: 5px;
  background: rgba(128, 128, 128, 0.096);
  border-radius: 100%;
}

.create-employee-button {
  display: flex;
}
.create-employee-button {
  display: flex;
  background: #eaf9ff;
  border-radius: 20px;
  border: none;
  height: fit-content;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  color: rgb(36, 35, 35);
}
.plus-icon {
  background: #03aeee;
  width: 35px;
  height: 35px;
  align-items: center;
  display: flex;
  line-height: 30px;
  border-radius: 100%;
  color: white;
  text-align: center;
  justify-content: center;
}

.delete-user-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delete-user-modal p {
  color: red;
  text-align: center;
}
.delete-user-modal .button-group {
  justify-content: space-between;
  display: flex;
  flex: 1;
}
.delete-user-modal .button-group button {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: transparent;
}
#cancel-button {
  border: 0.5px solid red;
}

#delete-button {
  background: red;
  color: white;
  border: none;
}
