.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(70, 66, 66, 0.048);
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.014);
  z-index: 5;
  max-height: 50px;
}
